sqlalchemy
gunicorn
flask
redis
redis-om
pydantic
pydantic[email]
nltk
requests
pandas
python-dateutil
spacy
pytz
parsedatetime
python-Levenshtein
transformers
transformers[sentencepiece]
flask-marshmallow
marshmallow-sqlalchemy
torch
torchvision
torchaudio

flask_sqlalchemy
flask_login
