<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}
<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row">
      <div class="col-md-6 col-lg-7 col-xl-8">
        <ul class="list-unstyled">
          <div id="newMsg"></div>
          <li class="bg-white mb-3">
            <div class="form-outline">
              <textarea class="form-control" id="user_input" rows="4"></textarea>
              <label class="form-label" for="user_input">Message</label>
            </div>
          </li>
          <button type="button" class="btn btn-info btn-rounded float-end" onclick="envoyer();">Send</button>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}