<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}
<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row">
      <div id="mapinfo" class="col">
        Test
      </div>
      <div id="chat" class="col">
        <div class="list-unstyled">
          <div id="conversation"></div>
          <div class="bg-white mb-3">
            <div class="form-outline">
              <input class="form-control" id="user_input" placeholder="Entrez un message ici..." />
            </div>
          </div>
          <button type="button" class="btn btn-info btn-rounded float-end" onclick="envoyer();">Send</button>
        </div>
      </div>
      <div id="eventlist" class="col">
        Test
      </div>
    </div>
  </div>
</section>
{% endblock %}