* {
  box-sizing: border-box;
}

.text-primary {
    color: #FF6000 !important;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.hero {
    height:100%;
    width:100%;
}

.container-fluid {
    max-width: none;
    height: 100%;
    position: relative;
}

/* From https://stackoverflow.com/questions/35460406/multiple-iframes-on-one-page-scaling-issue */
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wrap {
    position: relative;
    padding-bottom: 52.68%;
    padding-top: 30px;
    padding-left: 0 10px;
    padding-right: 0 10px;
    height: 0;
    overflow: auto;
    -webkit-overflow-scrolling:touch; /* <<--- THIS IS THE KEY */
}

.row {
    height: 100%;
}

#user_input {
    position: fixed;
    bottom: 0;
    width: 33%;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 5px;
}

list-group-item {
    overflow: auto;
    color: white;
    cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
  text-decoration: inherit;
}

#chat3 .form-control {
    border-color: transparent;
}

#chat3 .form-control:focus {
    border-color: transparent;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.col {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.pill {
    display: flex;
    align-items: center;
    border: none;
    color: white;
    padding: 0;
    border-radius: 4px;
    margin: 4px;
}

.remove {
    padding: 4px;
    background-color: #FF6000;
    border-radius: 4px 0 0 4px;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.text {
    padding: 4px;
    border-radius: 0 4px 4px 0;
    background-color: #FF9E00;
}
