<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}
<section style="background-color: #eee;">
  <div class="container-fluid">

    <div class="row">

      <div id="mapinfo" class="col">

      </div>

      <div id="chat" class="col wrap">
        <div class="list-unstyled">
          <div id="conversation"></div>
          <div style="width: 100%;">
            <input id="user_input" onkeypress="submit_on_enter(event)" placeholder="Entrez un message ici..." />
          </div>
        </div>
      </div>

      <div  class="col wrap">
        <ul id="event_list" class="list-group">
          <!-- Empty event list by default, it will be populated on page load -->
        </ul>
      </div>

    </div>
  </div>
</section>
{% endblock %}