<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}
<section style="background-color: #eee; height:100%;">
  <div class="container-fluid">

    <div class="row">

      <!--
      <div id="mapinfo" class="col">

      </div>
      -->

      <div id="chat" class="col wrap">
        <div class="list-unstyled">
          <div id="conversation"></div>
        </div>
        <div>
          <input id="user_input" onkeypress="submit_on_enter(event)" autocomplete="off" placeholder="Entrez un message ici..." />
        </div>
      </div>

      <div  class="col wrap">
        <div style="display: flex;" id="pills">
          <!-- Empty list of pills meant to display what the bot has understood -->
        </div>
        <ul id="event_list" class="list-group">
          <!-- Empty event list by default, it will be populated on page load -->
        </ul>
      </div>

    </div>
  </div>
</section>
{% endblock %}